.Estilo1 #form1 td
{
	color: #000000;

}
.body 
{
	background-image: url();
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.Estilo1
{
	font-size: xx-large;
	font-weight: bold;
}
.Estilo2
{
font-size: 18px

}

.estilo3
{
	
	font-family:
	Verdana, Geneva, sans-serif;
	font-size:12px;
	}.sin_negrilla {
	font-weight: normal;
}
